<h2>収入科目の詳細</h2>

<%= link_to "編集", edit_income_path(@income) %>
<%= link_to "収入科目一覧へ戻る", incomes_path %>

<table>
  <tr>
    <th>名称</th>
    <th><%= @income.name %></th>
  </tr>
  <tr>
    <td>説明</td>
    <td><%= @income.description %></td>
  </tr>
</table>
